.headerContainer {
   height: 6rem;
   width: 100%;
   border-bottom: 1.5px solid var(--gray-800);
}

.headerContent {

   display: flex;
   height: 6rem;
   align-items: center;

   padding: 0 13rem;

   nav {
      margin-left: 5rem;
      display: flex;
   }

   h1 { 
      color: var(--white)
   }

   a {
      display: inline-block;
      position: relative;
      color: var(--gray-300);

      &+a {
         margin-left: 3rem;
      }

      &.active::after {
         content: '';
         background-color: var(--yellow-500);
         height: 3px;
         width: 100%;
         position: absolute;
         border-radius: 3px 3px 0 0;
         bottom: 1px;
         left: 0;
         top: 3.4rem;
      }

      &.active { 
         color: var(--white);
      }

      transition: color 0.2s;

      &:hover { 
         transition: color 0.2s;
         color: var(--white)
      }
   }

   button { 
      margin-left: auto;
   }
}